@import "https://iridescent.netlify.app/main.css";
:root{
      /* font colors  */
      --font-primary: #16162E;
      --font-gray: #202020;
      --font-gray-light: #eef0f1;
  
      /* backgorund colors  */
      --background-light: #C5DCFA;
  
      /* brand */
      --brand-color: #0F56B3;
  
      /* font */
      font-family: 'Poppins', sans-serif;
}


.hover-ripple:hover{
  background-color: var(--background-light);
  padding: 1rem 0.75rem;
  
}

.App{
  display: grid;
  margin: 0;
  padding: 0;
  width: 100vw;
  gap: 20px 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem auto 12.5rem;
  grid-template-areas:
      "navbar"
      "content"
      "footer"
}

.box-shadow-2 {
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.box-shadow-2:hover {
  box-shadow: 2px 2px 4px rgba(97, 97, 97, 0.18), 4px 4px 8px rgba(97, 97, 97, 0.18);
  transform: scale(1.1);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.container{
  grid-area: content;
  display: flex;
  width: 100%;
  gap:50px;
}

.container-column{
  flex-direction:column;}

@media  only screen and (max-width:768px){
  .App{
    grid-template-rows: 15rem auto 12.5rem;
    width: 90%;
  }
}