.modal-wrapper {
  inset: 0;
  position: fixed;
  z-index: 50;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(100, 116, 139, 0.5);
  scroll-behavior: unset;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 22rem;
  transform: translate(-50%, -50%);
}
