.glass_categories {
    width: 100vw;
    height:fit-content;
    background-color: var(--forground-color);
    flex-direction: column;
}

.glass_categories_container {
    background-color: var(--foreground-color-2);
    width: 90%;
    height: 80%;
    overflow-x: scroll;
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.glass_categories_title {
    display: flex;
    background-color: var(--foreground-color);
    flex-direction: column;
    width: 100%;
    text-align: center;
    max-width: 80%;

}

.glass_categories_title>.subtitle-1 {
    width: 50%;

}
