/* TODO: ADD SEARCH FUNCTIONALITY */
/* .glass_search {
  display: none !important;
} */

.glass_logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  margin-left: 2rem;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.material-icons {
  font: 24px;
  border-radius: 16px;
  padding: 10px;
}

.glass_hero_text {
  align-self: center;
  padding: 0.5rem 1rem;
  font-weight: 700 !important;
}

.glass_links {
  margin: 1rem;
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 64px;
  order: 3;
}

.glass_links:hover {
  background-color: var(--component-blue-01);
}

.glass_links:active {
  background-color: var(--component-blue-02);
}

.glass_search_input {
  background-color: var(--white);
  border: 2px solid var(--component-grey-03);
  width: 100%;
  border-radius: 6px;
  order: 2;
}

.glass_search {
  order: 2;
  width: 100%;
}

.glass_search_icon {
  background-color: white;
  order: 2;
}

.header_badge {
  background-color: var(--component-blue-02) !important;
  width: 20px;
  height: 20px;
  font-size: 1rem !important;
}

@media only screen and (min-width: 768px) {
  .glass_logo {
    width: 100%;
  }

  .glass_search {
    order: 3;
    width: 100%;
    outline: 2px solid;
  }

  .glass_search_input {
    background-color: var(--white);
    border: 2px solid var(--component-grey-03);
    width: 100%;
    border-radius: 6px;
  }

  .glass__header__links {
    width: 100%;
  }
}
