
.hero_container{
    padding-left:4rem;
    height:calc(100vh - 7rem );
}

.hero-desc{
    font-size:1.5rem;
}

.hero_img{
    width: 40rem;
    height: 30rem;
    min-width: 20.475rem;
    border-radius: 144px;
    object-fit: cover;
}

.hero_text{
    font-size: clamp(3rem, 5rem, 6rem);
}

.hero_text_container{
    justify-content: center;
    padding-left: 2rem;

}

.floating_elem1{
    top: 5rem;
    right: 16rem;
    width: 100px;
    height: 100px;
    animation: infinte-loop-2 2500ms  infinite;
    transition: all cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes infinte-loop-2 {
    0% {transform: scale(0.8) rotate(0deg);}
    50% {transform: scale(0.6) rotate(250deg);}
    100% {transform: scale(0.8) rotate(360deg);}
    
}

.floating_elem2{
    top: 16rem;
    left: 16rem;
    width: 50px;
    height: 50px;
    animation: infinte-loop 2500ms  infinite;
    transition: all cubic-bezier(0.4, 0, 0.2, 1);

}

@keyframes infinte-loop {
    0% {transform: scale(0.8) rotate(0deg);}
    50% {transform: scale(1.2) rotate(180deg);}
    100% {transform: scale(0.8) rotate(360deg);}
    
}

.hero_bg{
    background-color: var(--PRIMARY_DARK);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 350px;
    z-index: -1;
    border-radius: 50%;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.hero_img:hover + .hero_bg{
    width: 300px;
    height: 300px;
    transform: scale(1.3) rotate(-60deg);
    top: 150px;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.hero_img_container{
    max-width: 50vw;
}

.hero_img img {
    width: 100%;
    border-radius: inherit;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.hero_btn{
    margin: 2rem 0rem;
}

.text_blue{
    color: var(--PRIMARY_DARK);
    white-space: pre-line;
}

.text_yellow{
    color: var(--PRIMARY_DARK);
    white-space: pre-line;
}



@media  only screen and (max-width:768px){

    .hero_container{
    padding:0;
    height:100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    gap:8rem;
}
.hero_text_container{
    order: 1;
    padding: 0rem 2rem ;
}
    .hero_text{
    font-size: 3rem;
    font-weight: bold;
    line-height: 125%;
    }
    .hero_img{
    width: 100%;
    height: 100%;
    border-radius: 144px;
    order: 2;
}
.floating_elem1{
   display: none;
}


.floating_elem2{
display: none;
}
.hero_bg{
    background-color: var(--PRIMARY_DARK);
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 110px;
    z-index: -1;
    border-radius: 50%;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}
.hero_img img {
    border-radius: inherit;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.hero_img_container{
    max-width: unset;
}

.hero_img:hover + .hero_bg{
    width: 16rem;
    height: 16rem;
    transform: scale(1.3) rotate(-60deg);
    top: 75px;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

}